snippet build build simple
  build: ${1}

snippet ci ci simple
  ci: ${1}

snippet docs docs simple
  docs: ${1}

snippet feat feat simple
  feat: ${1}

snippet fix fix simple
  fix: ${1}

snippet perf perf simple
  perf: ${1}

snippet refactor refactor simple
  refactor: ${1}

snippet revert revert simple
  revert: ${1}

snippet style style simple
  style: ${1}

snippet test test simple
  test: ${1}

snippet update update simple
  update: ${1}
