snippet lint-disable Disable a lint rule
  <!--markdownlint-disable ${1:rule}-->

snippet toc
  <!-- toc -->
  <!-- tocstop-->

snippet note
  > [!NOTE]
  >
  > ${1:text}

snippet tip
  > [!TIP]
  >
  > ${1:text}

snippet important
  > [!IMPORTANT]
  >
  > ${1:text}

snippet warning
  > [!WARNING]
  >
  > ${1:text}

snippet caution
  > [!CAUTION]
  >
  > ${1:text}
