snippet func
  #######################################
  # @description ${2:description}
  # @arg \$1 ${3:argument}
  # @stdout ${4:stdout}
  # @exitcode 0 ${5:exit code}
  #######################################
  function ${1:name} {
    ${6}
  }
