_G.is_gentoo = {{ and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "gentoo") }}
_G.is_gui_machine = {{ ne .guiServer "0" }}
_G.enabled_obsidian = {{ eq .kind "pc" "laptop" "tablet" }}
_G.enabled_leetcode = {{ eq .kind "pc" "laptop" }}
{{- if eq .kind "container" }}
_G.enabled_languages = { 'gitcommit', 'bash' }
{{- end }}
