DyNeo.dark_mode = {{ .darkMode }}
DyNeo.is_gentoo = {{ eq .osid "linux-gentoo" }}
DyNeo.enabled_plugins.obsidian = {{ or (eq .kind "pc" "laptop") (eq .chezmoi.os "android") }}
DyNeo.enabled_plugins.leetcode = {{ eq .kind "pc" "laptop" }}
DyNeo.enabled_plugins.firenvim = {{ eq .kind "pc" "laptop" }}
DyNeo.enabled_plugins.otter = {{ eq .kind "pc" "laptop" }}
DyNeo.enabled_plugins.chezmoi = true
{{- if eq .kind "container" }}
DyNeo.enabled_languages = { 'gitcommit', 'gitrebase', 'bash', 'sql' }
DyNeo.bundle_languages = { 'gitcommit', 'bash', 'sql' }
{{- end }}
{{- if eq .chezmoi.os "android" }}
DyNeo.obsidian.paths.personal = '~/storage/shared/Documents/Notes'
{{- end }}
DyNeo.firenvim_site_settings = {
  [ [[.*google\.com.*]] ] = {
    priority = 9,
    takeover = 'never',
  },
  [ [[.*facebook\.com.*]] ] = {
    priority = 9,
    takeover = 'never',
  },
  [ [[.*notion\.so.*]] ] = {
    priority = 9,
    takeover = 'never',
  },
  [ [[.*docs\.google\.com.*]] ] = {
    priority = 9,
    takeover = 'never',
  },
  [ [[.*mail\.google\.com.*]] ] = {
    priority = 9,
    takeover = 'never',
  },
  [ [[.*web\.telegram\.org.*]] ] = {
    priority = 9,
    takeover = 'never',
  },
  [ [[.*jira\..*]] ] = {
    priority = 9,
    takeover = 'never',
  },
  [ [[.*chat\..*]] ] = {
    priority = 9,
    takeover = 'never',
  },
  [ [[.*cloudflare\..*]] ] = {
    priority = 9,
    takeover = 'never',
  },
  [ [[.*\.sharepoint\.com.*]] ] = {
    priority = 9,
    takeover = 'never',
  },
  [ [[.*\.office\.com.*]] ] = {
    priority = 9,
    takeover = 'never',
  },
  [ [[.*teams\.microsoft\.com.*]] ] = {
    priority = 9,
    takeover = 'never',
  },
  [ [[.*github\.com\/.*\/blob\/.*]] ] = {
    priority = 9,
    takeover = 'never',
  },
}
{{- if has "F1" .decryptEnterprise }}
require('per_machine.F1')
{{- end }}
{{- if eq .code "l30n4rd0d4v1nc1" }}
DyNeo.used_full_plugins = true
{{- end }}
{{- if .blockedGitlab }}
DyNeo.obsidian.vaults = function() return {} end
{{- end }}
