_G.is_gentoo = {{ and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "gentoo") }}
_G.enabled_plugins.obsidian = {{ or (eq .kind "pc" "laptop") (eq .chezmoi.os "android") }}
_G.enabled_plugins.leetcode = {{ eq .kind "pc" "laptop" }}
_G.enabled_plugins.firenvim = {{ eq .kind "pc" "laptop" }}
_G.enabled_plugins.otter = {{ eq .kind "pc" "laptop" }}
_G.enabled_plugins.chezmoi = true
_G.enabled_plugins.codeium = {{ eq .kind "pc" "laptop" "vm" }}
_G.enabled_plugins.copilot = {{ eq .kind "pc" "laptop" "vm" }}
{{- if eq .kind "container" }}
_G.enabled_languages = { 'gitcommit', 'gitrebase', 'bash', 'sql' }
_G.bundle_languages = { 'gitcommit', 'bash', 'sql' }
{{- end }}
{{- if eq .chezmoi.os "android" }}
_G.obsidian.paths.personal = '~/storage/shared/Documents/Notes'
{{- end }}
_G.firenvim_site_settings = {
  [ [[.*google\.com.*]] ] = {
    priority = 9,
    takeover = 'never',
  },
  [ [[.*facebook\.com.*]] ] = {
    priority = 9,
    takeover = 'never',
  },
  [ [[.*notion\.so.*]] ] = {
    priority = 9,
    takeover = 'never',
  },
  [ [[.*docs\.google\.com.*]] ] = {
    priority = 9,
    takeover = 'never',
  },
  [ [[.*mail\.google\.com.*]] ] = {
    priority = 9,
    takeover = 'never',
  },
  [ [[.*web\.telegram\.org.*]] ] = {
    priority = 9,
    takeover = 'never',
  },
  [ [[.*jira\..*]] ] = {
    priority = 9,
    takeover = 'never',
  },
  [ [[.*chat\..*]] ] = {
    priority = 9,
    takeover = 'never',
  },
  [ [[.*cloudflare\..*]] ] = {
    priority = 9,
    takeover = 'never',
  },
  [ [[.*\.sharepoint\.com.*]] ] = {
    priority = 9,
    takeover = 'never',
  },
  [ [[.*\.office\.com.*]] ] = {
    priority = 9,
    takeover = 'never',
  },
  [ [[.*teams\.microsoft\.com.*]] ] = {
    priority = 9,
    takeover = 'never',
  },
  [ [[.*github\.com\/.*\/blob\/.*]] ] = {
    priority = 9,
    takeover = 'never',
  },
}
{{- if has "F1" .decryptEnterprise }}
require('per_machine.F1')
{{- end }}
{{- if eq .company "F1" }}
_G.enabled_plugins.codeium = false
_G.enabled_plugins.copilot = true
_G.companion_adapter = "copilot"
{{- end }}
